[Desktop Entry]
Name=BlocklyGC2
Type=Application
Exec=chromium-browser /home/pi/Blockly-gPIO_BachelorJerger/public/index_de.html
Icon=/home/pi/Blockly-gPIO_BachelorJerger/public/favicon.png