[Desktop Entry]

Name = Herunterfahren
Type = Application
Exec = python3 /home/pi/blockly-rpi-genius/files/desktop/user_shutdown/user_shutdown.py
Icon = /home/pi/blockly-rpi-genius/files/desktop/user_shutdown/off-on-power-switch.png
Terminal = false
