[Desktop Entry]

Name = Zeit Einstellen
Type = Application
Exec = python3 /home/pi/blockly-rpi-genius/files/desktop/ZeitEinstellen/TkinterZeit.py
Icon = /home/pi/blockly-rpi-genius/files/desktop/ZeitEinstellen/cc_uhr_small.png
Terminal = false
